<div class="row footer">
    <div class="col-12">
        {% if page.path != 'index.md' %}
        <i class="fas fa-arrow-left"></i> <a href="{{ "index" | relative_url }}">Return to the XSPONSE documentation home page</a>
        {% endif %}
    </div>
    <div class="col-12">
        <a href="mailto:support@xsponse.com">
            <i class="far fa-envelope"></i> Contact us for support
        </a>
    </div>
    <div class="col-12">
        {% capture issue %}{% include issue.md %}{% endcapture %}
        <a href="https://www.github.com/nrssystems/docs/issues/new?title=&body={{ issue | url_encode }}">
            <i class="far fa-comment"></i> Provide feedback on this page
        </a>
    </div>
    <div class="col-12"><p>&#169; 2021 XSPONSE</p></div>
</div>

