<!DOCTYPE html>
    {% assign current_url = page.url | absolute_url %}
    {%- include head.html -%}
    <body>
        <nav class="navbar navbar-dark bg-danger d-lg-none fixed-top">
            <button class="navbar-toggler" type="button" onclick="toggleNav()">
                <span class="navbar-toggler-icon"></span>
            </button>
        </nav>
        <div id="mobile-nav" class="sidenav bg-white d-lg-none d-fixed nav-container">
            <div class="p-3">
                <span><a href="{{ "index" | relative_url }}">Home</a></span>
                {% assign nav_file = site.data.navigation[page.nav] %}
                {% include nav.html nav=nav_file %}
            </div>
        </div>
        <div class="container mt-5 mt-lg-0">
            {%- include header.html -%}
            <h1>{{ page.title }}</h1>
            <div class="row">
                <div class="col-12">
                    {{ page.abstract }}
                </div>
            </div>
            <div class="row">
                <div class="col-12 font-italic">
                    Last Updated: {{ page.last-updated }}
                </div>
            </div>
            <div class="row mt-5">
                <div class="col-4 d-none d-lg-flex nav-container">
                    <div class="border border-secondary p-3">
                        {% assign nav_file = site.data.navigation[page.nav] %}
                        {% include nav.html nav=nav_file %}
                    </div>
                </div>
                <div class="col-12 col-lg-8">
                    {{ content }}
                </div>
            </div>
            {% include footer.html %}
        </div>
        <script src="{{ "/assets/js/mobile-nav.js" | relative_url }}"></script>
    </body>
</html>
